<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>It News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/resources/css/styles.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="wrapper container">
		<header>
			<a href="/"><img src="/resources/icons/Logo.png" alt="Whitesquare logo"></a>
			<form name="search" action="/search" method="get" class="form-inline form-search pull-right">
				<div class="input-group">
					<label class="sr-only" for="searchInput">Search</label>
					<input class="form-control" id="searchInput" type="text" name="searchString" placeholder="Search">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-primary">GO</button>
					</div>
				</div>
			</form>
		</header>
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/">About us</a></li>
				<li><a href="/services/">Services</a></li>
				<li><a href="/partners/">Partners</a></li>
				<li><a href="/customers/">Customers</a></li>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/careers/">Careers</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
		<div class="heading">
			<h1>About us</h1>
		</div>
		<div class="row">
			<aside class="col-md-7">
				<ul class="list-group submenu">
					<li class="list-group-item"><a href="/articles/programming">Programming</a></li>
					<li class="list-group-item"><a href="/articles/science">Science</a></li>
					<li class="list-group-item"><a href="/articleId/startup">Start up</a></li>
					<li class="list-group-item"><a href="/articleId/other">Other</a></li>
				</ul>
			</aside>

			<section class="col-md-17">

				<div th:each="article : ${articles}">
					<div class="jumbotron">
						<blockquote>
							<p th:text="${article.title}"></p>
							<small th:text="${article.type}"></small>
						</blockquote>
					</div>
					<img th:src="${article.pathToFile}" style="max-height: 300px;max-width: 600px" class="thumbnail"/>
					<p style="overflow: hidden;max-height: 65px" th:text="${article.content}"></p>
                    <a th:href="'/article/' + ${article.id}" class="btn btn-primary">READ MORE</a>
					<div style="border: 1px solid silver;margin-bottom: 1%; margin-top: 1%"></div>
				</div>
			</section>

		</div>
	</div>

  </body>
</html>