<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link href="/resources/css/styles.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrapper container">
    <header>
        <a href="/"><img src="/resources/icons/Logo.png" alt="Whitesquare logo"></a>
        <form name="search" action="/search" method="get" class="form-inline form-search pull-right">
            <div class="input-group">
                <label class="sr-only" for="searchInput">Search</label>
                <input class="form-control" id="searchInput" type="text" name="searchString" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">GO</button>
                </div>
            </div>
        </form>
    </header>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/partners/">Partners</a></li>
            <li><a href="/customers/">Customers</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
    <div class="heading">
        <h1>About us</h1>
    </div>
    <div class="row">
        <!--<section class="col-md-17">-->
                <div class="jumbotron">
                    <blockquote>
                        <p th:text="${article.title}"></p>
                        <small th:text="${article.type}"></small>
                    </blockquote>
                </div>
                <img th:src="${article.pathToFile}" style="max-height: 300px;max-width: 600px" class="thumbnail"/>
                <p style="font-size: medium" th:text="${article.content}"></p>
                <div th:if="!${article.comments.isEmpty()}">
                    <div th:each="comment : ${article.comments}">
                        <p th:text="${comment.username}"></p>
                        <p th:text="${comment.comment}"></p>
                    </div>
                </div>
        <!--</section>-->

        <div sec:authorize="hasRole('ROLE_USER')">
            <form method="post" th:action="'/article/' + ${article.id} + '/comment'">
                <div class="input-group">
                    <label class="sr-only" for="comment-input">Search</label>
                    <input class="form-control" name="comment-content" id="comment-input" placeholder="Comment here">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>